<form action="<%= comments_url %>" method="post">
  <%= include_form_auth_token %>

  <input type="hidden" name="comment[post_id]" value="<%= comment.post_id %>">

  <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.id %>">

  <p>
    <textarea name="comment[content]"></textarea>
  </p>

  <input type="submit" value="Submit Comment">

</form>
